@import "tailwindcss";

/* @theme {
  --color-black: #000000;
  --color-gold: #C9A84C;
  --color-gold-light: #E8C96A;
  --color-gold-dark: #A8872E;
  --color-white: #FFFFFF;
  --color-red: #B22222;
  --color-gray-dark: #1a1a1a;
  --color-gray-mid: #2d2d2d;
  --color-gray-light: #f5f5f5;

  --font-heading: "Playfair Display", serif;
  --font-body: "DM Sans", sans-serif;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
} */